body {
    padding-top: 60px;
    padding-bottom: 60px;
}

ul {
    padding-left: 20px;
}

.navbar-brand {
    color: #aaa;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    background: rgba(0, 0, 0, 0.5);
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 2em;
}

.well h2 {
    color: #ee4444;
    font-size: 1.3em;
}

.well img {
    max-width: 100%;
}

.feed {
    background: #282c37;
    color: #9baec8;
    padding: 0;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

blockquote {
    font-size: 14px;
    font-style: italic;
}

.infobox {
    width: 30%;
    padding: 10px;
    float: right;
    background-color: white;
}
